<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.werkelmann.rekote">

    <uses-permission android:caller="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
                android:caller=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:caller="android.intent.action.MAIN"/>

                <category android:caller="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:caller=".settings.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:caller="android.support.PARENT_ACTIVITY"
                    android:value="de.werkelmann.rekote.MainActivity"/>
        </activity>
    </application>

</manifest>